<div class="flex-scaffholding -column">
    {{#sd-panel-header}}
        <h1 class="title">{{node}}</h1>

        <div class="spacer"></div>

        <label>
            Aggregate by
            {{#sd-tabs-list activeTab=op as |list|}}
                {{#each aggregationOptions as |option|}}
                    {{#sd-tab-item value=option.value activeTab=list.activeTab activateTab="activateTab" registerTab="registerTab" targetObject=list}}
                        <button {{action "changeAggregation" option.value}}>{{option.name}}</button>
                    {{/sd-tab-item}}
                {{/each}}
            {{/sd-tabs-list}}
        </label>
    {{/sd-panel-header}}

    <div class="flex-scaffholding -row flex-grow">
        {{#sd-panel-content class="flex-grow -overflow-visible"}}
            <div id="chart"></div>
            <div style="position: relative">
                <div id="svPopout"></div>
            </div>
        {{/sd-panel-content}}

        {{#sd-panel-sidebar}}
            <table class="table">
                <thead class="thead">
                    <th class="th -icon"></th>
                    <th class="th -string">Container Name</th>
                </thead>
                <tbody class="tbody -compact">
                    {{#each legendItems as |item|}}
                        <tr class="tr -no-border" style={{line.color}}>
                            <td class="td -icon"><i class="material-icons" style={{item.color}}>lens</i></td>
                            <td class="td -string">{{item.name}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/sd-panel-sidebar}}
    </div>

    {{#sd-panel-footer}}
        {{#if activeSpan}}
            <strong>{{activeSpan.name}} informations –</strong>
            Container Name:                 <b>{{activeSpan.container}}</b>
            Command Line:                   <b>{{activeSpan.container}}</b>
            Time in this node and childs:   <b>{{activeSpan.container}}</b>
            Time in this node:              <b>{{activeSpan.timeInNode}}</b>

            {{#if activeSpan.childCount}}
                <br>
                <strong>NOTE: this node has {{activeSpan.childCount}} childs. Only the slowest one is shown.</strong>
            {{/if}}
        {{/if}}
    {{/sd-panel-footer}}
</div>
