{{#s-panel-header}}
    <h1 class="title">{{node}} {{op}}</h1>
{{/s-panel-header}}

<div style="float:right">
    <b>Container Colors</b>:
    {{#each legendItems key="@identity" as |item|}}
        <br>
        <text style="color:{{item.color}}">{{item.name}}</text>
    {{/each}}
</div>
<div style="clear:both"></div>

<div id="chart">
</div>

<div style="position: relative">
    <div id="svPopout"></div>
</div>

{{#s-panel-footer}}
    {{#if activeSpan}}
        <strong>{{activeSpan.name}} informations –</strong>
        Container Name:                 <b>{{activeSpan.container}}</b>
        Command Line:                   <b>{{activeSpan.container}}</b>
        Time in this node and childs:   <b>{{activeSpan.container}}</b>
        Time in this node:              <b>{{activeSpan.timeInNode}}</b>

        {{#if activeSpan.childCount}}
            <br>
            <strong>NOTE: this node has {{activeSpan.childCount}} childs. Only the slowest one is shown.</strong>
        {{/if}}
    {{/if}}&nbsp;
{{/s-panel-footer}}
