<div style="float:right">
    <b>Container Colors</b>:
    {{#each legendItems key="@identity" as |item|}}
        <br><text style="color:{{item.color}}">{{item.name}}</text>
    {{/each}}
</div>
<div style="clear:both"></div>

<div>
  <h2>{{node}} {{op}}</h2>
</div>

<div id="chart">
</div>

<div style="position: relative">
    <div class="svPopout" id="svPopout"></div>
</div>

{{#if activeSpan}}
    <div>
        <b>Info</b>:
        <strong>{{activeSpan.name}})</strong>
        <strong>Container Name</strong>: {{activeSpan.container}}
        <strong>Command Line</strong>: {{activeSpan.commandLine}}
        <strong>Time in this node and childs</strong>: {{activeSpan.timeTotal}}
        <strong>Time in this node</strong>: {{activeSpan.timeInNode}}

        {{#if activeSpan.childCount}}
            <br>
            <strong>NOTE: this node has {{activeSpan.childCount}} childs. Only the slowest one is shown.</strong>
        {{/if}}
    </div>
{{/if}}
