<div class="flex-scaffholding -column">
    {{#sd-panel-header}}
        <h1 class="title">
            Logs for
            {{#sd-tabs-list as |list|}}
                {{#sd-tab-item activeTab=list.activeTab activateTab="activateTab" registerTab="registerTab" targetObject=list}}
                    <button {{action "selectMode" 'SPAN'}}>this span only</button>
                {{/sd-tab-item}}
                {{#sd-tab-item activeTab=list.activeTab activateTab="activateTab" registerTab="registerTab" targetObject=list}}
                    <button {{action "selectMode" 'SPAN_CHILD'}}>this span and children</button>
                {{/sd-tab-item}}
            {{/sd-tabs-list}}
        </h1>
    {{/sd-panel-header}}

    {{#sd-panel-content class="flex-grow -no-padding"}}
        <table class="table">
            <thead class="thead">
                <th class="th -icon"></th>
                <th class="th -string">Container Name</th>
                <th class="th -string">K</th>
                <th class="th -number">Date and Time</th>
                <th class="th -string" colspan="3">Message</th>
            </thead>
            <tbody class="tbody -compact">
                {{#each lines key="@index" as |line|}}
                    <tr class="tr" style={{line.color}}>
                        <td class="td -icon"><i class="material-icons" style={{line.lineColor}}>lens</i></td>
                        <td class="td -string">{{line.containerName}}</td>
                        <td class="td -string">{{line.k}}</td>
                        <td class="td -number">{{line.t}}</td>
                        <td class="td -string" colspan="3">{{line.b}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/sd-panel-content}}
</div>
