{{#sd-panel-header}}
    <h1 class="title">Transactions</h1>
{{/sd-panel-header}}

{{#sd-panel-content class="-no-padding"}}
    <table class="table">
        <thead class="thead">
            <th class="th -string">Node</th>
            <th class="th -number">Calls</th>
            <th class="th -number">Avg Time</th>
            <th class="th -number">Min Time</th>
            <th class="th -number">Max Time</th>
        </thead>
        <tbody class="tbody">
            {{#each transactions key="@identity" as |transaction|}}
                <tr class="tr" {{action "select" transaction.node}}>
                    <td class="td -string">{{transaction.node}}</td>
                    <td class="td -number">{{transaction.n}} calls</td>
                    <td class="td -number"><a href="#0" {{action "select" transaction.node "avg"}}>{{transaction.avg}}</a></td>
                    <td class="td -number"><a href="#0" {{action "select" transaction.node "min"}}>{{transaction.min}}</a></td>
                    <td class="td -number"><a href="#0" {{action "select" transaction.node "max"}}>{{transaction.max}}</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/sd-panel-content}}
