<div id="svTrList" style="float:left">
    <b>Transactions</b>:
    <br />
    {{#each nodes key="@identity" as |node|}}
        <b>{{node.node}}</b> - {{node.n}} calls -
        <a {{action "select" node.node "avg"}}>Avg Time</a>: {{node.avg}}
        <a {{action "select" node.node "min"}}>Min Time</a>: {{node.min}}
        <a {{action "select" node.node "max"}}>Max Time</a>: {{node.max}}
        <br />
    {{/each}}
</div>
