<div>
    <b>Transactions</b>:
    <br />
    {{#each transactions key="@identity" as |transaction|}}
        <b>{{transaction.node}}</b> - {{transaction.n}} calls -
        <a {{action "select" transaction.node "avg"}}>Avg Time</a>: {{transaction.avg}}
        <a {{action "select" transaction.node "min"}}>Min Time</a>: {{transaction.min}}
        <a {{action "select" transaction.node "max"}}>Max Time</a>: {{transaction.max}}
        <br />
    {{/each}}
</div>
